<!DOCTYPE html>
<html>
<head>
  <title>UserLocationManagement</title>
  <%= stylesheet_link_tag    "user_location_management/application", media: "all" %>
  <%= javascript_include_tag "user_location_management/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
