- content_for :sidebar do
  %h2.entry-title Locations
- @locations_by_state_abbreviation.keys.reject{|key| key == ""}.sort.each do |state_abbreviation|
  %h4.entry-title= Locations::Location::STATES[state_abbreviation]
  %table
    - @locations_by_state_abbreviation[state_abbreviation].each do |location|
      %tr
        %td
          = link_to location.name, location_path(location)
- if @locations_by_state_abbreviation[""]
  %h4.entry-title International/Unknown
  %table
    - @locations_by_state_abbreviation[""].each do |location|
      %tr
        %td
          = link_to location.name, location_path(location)
